<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="{% static 'css_display/bt3.css' %}" />
		<link rel="stylesheet" href="{% static 'css_display/app.css' %}" />
		<meta content="user-scalable=no,width=device-width, initial-scale=1" name="viewport">
		<link rel="stylesheet" href="{% static 'css_display/page-fast-news-60c1b0fb04288316f8b14bbbcc409bff.css' %}" />
		<link rel="stylesheet" href="{% static 'css_display/application-febb10a4ab803df13138ef8cf968c276.css' %}" />
		<link rel="stylesheet" href="{% static 'css_display/style.css' %}" />
		<script type="text/javascript" src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
		<link rel="stylesheet" href="{% static 'css_display/detail.css' %}" />
		<title></title>
	</head>
	<body style="background-color: #fff;" class=" pace-done">
		<div class="container paperCut" style="margin-top: 35px;">
			<div class="row">
				<div class="col-md-9">
					<div class="box" style="margin-top: 20px;">
						<div class="content">
							<dl class="clearfix" >
							   <dt class="clearfix pull-left">
									<!-- <p class="paper-image">
										<a class="J_view paper-title" data-url="" data-id="34" href="" target="_blank">
										<img  src="{% static 'img/u300.png' %}"  style="width: 30px;" />
										</span>工作经历
										</a>
									</p> -->
									<p class="lvp">{{meta.title}}</p>
								</dt>
							</dl>
						</div>
					</div>

					<div class="box">
						{% for k, v in result.items %}
							{% if v != "" and v != "[]" %}
								<div style="padding: 10px 0 0 10px;margin-top: -10px;">
								  	<span>{{k}}：</span><span class="jns">{{v}}</span>
								</div>
							{% endif %}
						{% endfor %}
					</div>
					<div class="box" style="margin-top: 20px;">
						<div class="content">
							{% if meta.type == '1' %}
								<dl class="clearfix" >
								   <dt class="clearfix pull-left">
										<p class="paper-image">
											<a class="J_view paper-title" data-url="" data-id="34" href="" target="_blank">
											<img  src="{% static 'img/u300.png' %}"  style="width: 30px;" />
											</span>判决
											</a>
										</p>
										
									    <p style="padding-left: 10px;font-weight: normal;line-height: 25px;">{{meta.content}}</p>
									
									</dt>
								</dl>
							{% endif %}

							{% if meta.type == '3' %}
								<dl class="clearfix" >
								   <dt class="clearfix pull-left">
										<p class="paper-image">
											<a class="J_view paper-title" data-url="" data-id="34" href="" target="_blank">
											<img  src="{% static 'img/u300.png' %}"  style="width: 30px;" />
											</span>文书内容
											</a>
										</p>
										
									    <p style="padding-left: 10px;font-weight: normal;line-height: 25px;">{{meta.content}}</p>
									
									</dt>
								</dl>
							{% endif %}
						</div>
					</div>
					<!--工作经历-->
					
					
				</div>
			</div>
		</div>

	
</body>
</html>
